@font-face {
  font-family: "More Sugar";
  src: url("../fonts/MoreSugarThin.woff2") format("woff2"),
    url("../fonts/MoreSugarThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
