@import url("./general.css");

/* ====================== */
/* === Header Section === */
/* ====================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}

/* ====================== */
/* === Navbar Section === */
/* ====================== */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  height: 15.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-hover-color);
}

.header .line-separator {
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background: url("/img/white_line.png") center/cover no-repeat;
  pointer-events: none;
}

/* ==================== */
/* === HERO SECTION === */
/* ==================== */
.hero {
  margin-top: 2rem;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  height: 60rem;
}

/* ===================== */
/* === ABOUT SECTION === */
/* ===================== */
.about-section {
  padding-top: 8rem;
  max-width: 95vw;
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}

.artist-img {
  width: 100%;
}

.artist-info {
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.artist-contact {
  margin: 2.9rem 0 2.9rem 0;
}

.artist-name {
  font-size: clamp(3rem, 2vw + 1rem, 8rem);
  font-weight: 700;
}

.artist-background {
  font-size: clamp(1.8rem, 2vw + 0.5rem, 4rem);
  font-weight: 500;
}

.artist-bio-paragraph {
  font-family: sans-serif;
  font-size: clamp(1.2rem, 0.4vw + 1.2rem, 2.2rem);
  line-height: 1.6;
  max-width: 90%;
  letter-spacing: 0.03rem;
}

.artist-bio-paragraph + .artist-bio-paragraph {
  margin-top: 2.4rem;
}

/* ========================= */
/* === PORTFOLIO SECTION === */
/* ========================= */
#project-buttons {
  height: 20rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.btn-project {
  width: 28rem;
  aspect-ratio: 5 / 2;
  background: var(--image-default);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: background-image 0.3s, transform 0.2s;
}

.btn-project:hover {
  transform: scale(1.05);
}

.btn-project.active {
  background-image: var(--image-active);
}

.cards-container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cards-grid {
  padding: 3rem 0;
  min-width: 95vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 4rem;
  row-gap: 5rem;
}

.project-card {
  aspect-ratio: 16 / 10;
  width: auto;
  border-radius: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 3px solid var(--main-border-color);
  box-shadow: 0 0 15px 5px white;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card.inactive {
  display: none;
}

/* ======================== */
/* === PROJECTS SECTION === */
/* ======================== */
.project-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projec #project-not-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#project-not-available.inactive {
  display: none;
}

.comming-soon {
  font-size: 15rem;
  font-weight: 700;
}

.return-link:link,
.return-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.return-link:hover,
.return-link:active {
  color: var(--primary-hover-color);
}

.project-images {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
}

.return-container {
  padding: 4rem 0;
  background-color: black;
  display: block;
  width: 100%;
  text-align: center;
}
/* ======================= */
/* === CONTACT SECTION === */
/* ======================= */
.contact-section {
  padding: 6rem 0;
  max-width: 95vw;
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.contact-img {
  align-self: flex-start;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.contact-name {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.input {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: var(--primary-bg-color);
  border: none;
  color: var(--primary-text-color);
  width: 100%;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 8px 5px white;
}

label {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

textarea.input {
  min-height: 15rem;
  resize: none;
}

.send-btn {
  font-family: inherit;
  font-size: 2rem;
  background-color: var(--secondary-bg-color);
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 1rem;
  margin-left: auto;
}

.send-btn:hover {
  background-color: lightgray;
}

/* ====================== */
/* === FOOTER SECTION === */
/* ====================== */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  color: var(--primary-text-color);
}

.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer .line-separator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: url("/img/white_line.png") center/cover no-repeat;
  pointer-events: none;
}

.copy-right {
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
